<div class="hero min-h-screen"
  style="background-image: url(https://udon-shindan.onrender.com/background.png);">
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <%= link_to "早速診断する！", new_post_path, class: "btn btn-outline btn-primary mt-7" %>
    </div>
  </div>
</div>