<% @posts.each do |t| %>
  <% if t.number == @result %>
    <div class="tweet">
      あなたにおすすめのご当地うどんは<%= t.content %>です。
      <br>
      地域：<%= t.region %>
      <br>
      詳細：<%= t.info %>
    </div>
  <% end %>
<% end %>
